
.subtitulo-acercade{
    font-family: var(--font-titulo);
}

.texto-seccion{
    font-size: 15px;
    font-family: var(--font-text);
    padding-right:50px;
    text-align: justify;
    width: 60%;
    line-height: 1.6;
    color: #333;
}

.texto-imagen{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 60px auto 0 auto;
}

.contenedor-imagen{
    width: 430px;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.contenedor-imagen::before{
    content: '';
    position: absolute;
     inset: 0;
    border-radius: 5px;
    border: 8px solid transparent;
    animation: bordeAnimado 3s linear infinite;
}

@keyframes bordeAnimado {
  0% {
    border-top-color: var(--color-secondary);
    border-right-color: transparent;
   
  }
  25% {
    border-bottom-color: var(--color-secondary);
    border-right-color: var(--color-secondary);
  }
  50% {
    border-bottom-color: var(--color-secondary);
    border-left-color: var(--color-secondary);
  }
  100% {
    border-top-color: var(--color-secondary);
    border-left-color: var(--color-secondary);
  }
}

.img-logo-texto{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carta-presentacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
}
.carta{
    width: 18px;
    height: 18px;
    margin-right: 0.8rem;
}

@media (max-width: 768px) {

    .subtitulo-acercade {
        font-size: 16px;
    }

    .texto-imagen {
        flex-direction: column;
        align-items: center;
    }

    .texto-seccion {
        width: 100%;
        text-align: center;
        font-size: 14px;
    }

    .contenedor-imagen {
        width: 80%;
        margin-top: 20px;
    }

    .img-logo-texto {
        width: 100%;
    }
}

@media (max-width: 480px) {

    .subtitulo-acercade {
        font-size: 14px;
    }

    .texto-seccion {
        font-size: 12px;
        line-height: 1.4;
        padding-right: 0;
    }

    .contenedor-imagen {
        width: 80%;
        margin-top: 20px;
    }

    .img-logo-texto {
        width: 100%;
    }
}