.subtitulo-secundario{
    font-size: 15px;
    text-align: center;
    font-family: var(--font-titulo);
}

.staff{
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    margin-top: 2.5rem;
}

.staff-item{
    background-color: var(--color-light);
    width: 30%;
    text-align: center;
    padding: 25px 15px;
    border-radius: 8px;
}

.nombre-staff{
    font-family: var(--font-titulo);
    color: var(--color-tertiary);
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 0.5rem;
}

.btn-linkedin{
    margin: 1rem auto 0;
    display: flex;
    align-items: center;
    padding: 10px 22px;
    border-radius: 5px;
    border: none;
    background: transparent;
    color: var(--color-primary);
    font-weight: 500;
    text-decoration: none;
    transition: all 0.25s ease;
}

.btn-linkedin:hover {
  border: 1px solid  var(--color-primary);
  color: white;
}