.subtitulo-secundario{
    font-size: 15px;
    text-align: center;
    font-family: var(--font-titulo);
}

.staff{
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    margin-top: 2.5rem;
}

.staff-item{
    background-color: var(--color-light);
    width: 30%;
    text-align: center;
    padding: 25px 15px;
    border-radius: 8px;
}

.nombre-staff{
    font-family: var(--font-titulo);
    color: var(--color-tertiary);
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 0.5rem;
}

.btn-linkedin{
    margin: 1.4rem auto 0;
    display: flex;
    align-items: center;
    padding: 8px 20px;
    border-radius: 5px;
    background: transparent;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.25s ease;
    border: 1px solid  var(--color-primary);
}

.btn-linkedin:hover {
    border: 1px solid  var(--color-secondary);
    background-color: var(--color-secondary);
    font-weight: 700;
}

.linkedin-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.4rem;
    text-decoration: none;
    color: var(--color-primary); /* Color base */
    transition: color 0.25s ease;
}


.btn-linkedin:hover .linkedin-icon,
.btn-linkedin:hover .btn-texto {
    color: white; 
}

.btn-texto{
    margin: 0;    
}