.widget{
  position: fixed;
  bottom: 20px;
  right: 20px;
  align-content: end;
   z-index: 9999;
}
  
.whatsapp-button {
    background-color: #19c357;
    color: white;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
  
  .whatsapp-icon {
    font-size: 40px;
  }
  
  .whatsapp-chat {
    width: 270px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    position: absolute;
    bottom: 70px;
    right: 0;
  }
  
  .whatsapp-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding-bottom: 10px;
  }
  
  .close-icon {
    cursor: pointer;
  }
  
  .whatsapp-body {
    text-align: center;
    font-size: 14px;
  }
  
  .start-chat {
    background-color: #19c357;
    color: white;
    border: none;
    padding: 7px 10px;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .start-chat:hover {
    background-color: #1ebe5d;
  }


@media (max-width: 480px) {

    
  .widget {
    bottom: 35px;
    right: 25px;
  }

  .whatsapp-button {
    width: 55px;
    height: 55px;
  }

  .whatsapp-icon {
    font-size: 32px;
  }

  .whatsapp-chat {
    width: calc(100vw - 30px);
    right: 0;
    bottom: 70px;
  }
}