.subtitulo-servicio{
    font-family: var(--font-subtitlo);
    text-transform: uppercase;
    color: var(--color-tertiary);
    font-weight: 700;
    padding-left: 20px;
    font-size: 19px;
}

.tarjetas-servicios{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    flex-wrap: wrap;
}

.tarjeta-servicio {
  border: 2px solid var(--color-secondary);
  width: 355px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  box-shadow: 0 10px 0 -2px rgba(255, 165, 0, 0.41);
  background: white;
  transition: 
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.tarjeta-servicio:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 0 -2px rgba(255, 165, 0, 0.25);
}

.titulo-servicio{
    color: var(--color-primary);
    font-weight: 800;
    font-family: var(--font-subtitlo);
    text-transform: uppercase;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.icono-servicio{
    width: 80px;
}

.servicios{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
}

.texto-servicio{
    font-size: 15px;
    font-family: var(--font-text);
    margin-top: 20px;
    margin-bottom: 5px;
    list-style-type: none;
    padding: 0;
    line-height: 1.6;
    color: #333;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.btn-ver-servicios {
    margin: 2.5rem auto 0;
    display: flex;
    align-items: center;
    padding: 10px 22px;
    border-radius: 5px;
    background: transparent;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.25s ease;
    border: 1px solid  var(--color-primary);
}

.btn-ver-servicios a{
  color: var(--color-primary);
}

.btn-ver-servicios:hover {
    border: 1px solid  var(--color-secondary);
    background-color: var(--color-secondary);
    font-weight: 700;
    
}

.btn-ver-servicios:hover,
.btn-ver-servicios a:hover{
  color: white;
}

@media (max-width: 1024px) {
    .subtitulo-servicio {
        font-size: 16px; /* Reducir tamaño de subtítulo */
    }

    .texto-servicio {
        font-size: 13px; 
        width: 100%; 
        padding-left: 0;
    }
}

@media (max-width: 768px) {
  
    .seccion {
        padding: 20px 10px;
    }

    .subtitulo-servicio {
        font-size: 14px; 
    }

    .texto-servicio {
        font-size: 13px; 
        width: 100%; 
        padding-left: 0;
        margin-top: 10px;
    }

}
