.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin:  40px 0 10px 0;

  position: relative;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.center-img {
  width: 33.33vw;
  height: 300px;
  object-fit: cover;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.3);
  transition: all 0.4s ease;
  margin: 0;
  padding: 0;
}

.side {
  width: 33.33vw;
  height: 300px;
  object-fit: cover;
  transition: all 0.4s ease;
  margin: 0;
  padding: 0;
  border-radius: 0;
  opacity: 1;
  filter: none;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}


.nav-button {
  font-weight: 800;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  z-index: 5;
  background: var(--color-secondary);
  color: black;
  border: none;

}

.nav-button:hover {
  background: var(--color-primary);
  color: white;
}


@media (max-width: 480px) {

  .carousel-container {
    margin: 20px 0;
  }

  .carousel {
    width: 100%;
    overflow: hidden;
  }

  .center-img {
    width: 90vw;
    height: 200px;
    border-radius: 8px;
  }

  .side {
    display: none;
  }

  .nav-button {
    font-size: 18px;
    padding: 6px 10px;
  }
}