.todos-servicios{
    padding: 3rem;
}
.fondo-titulo-servicios{
    display: block;
    width: 170px;
    background: linear-gradient(45deg, var(--color-primary), var(--color-tertiary)); /* Gradiente */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.titulo-seccion-servicios{
    font-size: 29px;
    color: white;
    text-transform: uppercase;
    font-family: var(--font-titulo);
    padding: 5px 10px;
    margin-bottom: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

.titulo-servicios{
    display: grid;
    justify-items: center;
    align-content: center;
    margin-bottom: 2rem;
}

.subtitulo-servicio{
    font-family: var(--font-subtitlo);
    text-transform: uppercase;
    color: var(--color-tertiary);
    font-weight: 700;
    padding-left: 20px;
    font-size: 19px;
}

.icono-servicio{
    width: 70px;
}

.servicio-detalle{
    margin-bottom: 2rem;
    
}

.header-servicio{
    width: auto;
    display: flex;
    border-bottom: 2px solid var(--color-primary);
    padding: 5px 10px;
}
.header-titulo{
    align-content: center;
    padding-left: 1rem;
}
.texto-servicio{
    font-size: 15px;
    font-family: var(--font-text);
    list-style: none;
    padding: 0;
    line-height: 1.6;
    color: #333;
    transition: max-height 0.3s ease-in-out;
}

.texto-servicio li {
    position: relative;
    padding-left: 18px; /* espacio para la viñeta */
    margin-bottom: 10px;
}
.texto-servicio li::before {
    content: "•";
    position: absolute;
    left: 0;
    top: 0.7rem;
    color: var(--color-secondary);
    font-size: 18px;
    line-height: 1;
}

.header-servicio .titulo-servicio{
    margin-bottom: 0px;
}

.btn-asesoramiento{
    background-color: var(--color-primary);
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
    padding: 5px 25px;
    font-weight: 600;
    margin-top: 1rem;
    cursor: pointer;
    font-size: 16px;
}

.btn-asesoramiento a{
    color: white;
}
.btn-asesoramiento:hover{
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
    
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
    
}

@media (max-width: 466px) {
    .titulo-servicio{
        font-size: 16px;
    }

    .icono-servicio{
        width: 55px;
        height: 55px;
    }
    .texto-servicio{
        font-size: 13px;
    }
}