.container-header{
    height: 280px;
    padding: 25px 150px;
    background-image: url("../../assets/FondoHeader.png");
    background-size: cover; /* Hace que el fondo cubra todo el contenedor */
    background-position: center;
}
.logos{
    display: flex;
    gap: 1rem;
    margin-top: 20px;
}
.logoK{
    height: 120px;
}
.logoblanco{
    height: 90px;
}

.titulo-nombre{
    font-size: 70px;
    font-family: var(--font-titulo);
    color: white;
    text-transform: uppercase;
    margin: 0;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* Sombra para resaltar */
    letter-spacing: 3px;
}

.subtitulo-descripcion{
    font-size: 20px;
    font-family: var(--font-titulo);
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.img-logo{
    width: 35px;
}

@media (max-width: 992px) {
    .container-header {
        padding: 40px 30px;
    }
    .logoK{
        height: 100px;
    }
    .logoblanco{
        height: 75px;
    }
    .subtitulo-descripcion{
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .container-header {
        padding: 40px 30px;
    }
}

@media (max-width: 480px) {
    .logoblanco{
        height: 75px;
    }

    .container-header{
        padding: 20px 30px;
    
    }
}