.container-header{
    height: 280px;
    padding: 25px 150px;
    background-image: url("../../assets/FondoHeader.png");
    background-size: cover; 
    background-position: center;
     position: relative;
}
.logos{
    display: flex;
    gap: 1rem;
    margin-top: 20px;
}
.logoK{
    height: 120px;
}
.logoblanco{
    height: 90px;
}

.subtitulo-descripcion{
    font-size: 20px;
    font-family: var(--font-titulo);
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.img-logo{
    width: 35px;
}

@media (max-width: 992px) {
    .container-header {
        padding: 40px 30px;
    }
    .logoK{
        height: 100px;
    }
    .logoblanco{
        height: 75px;
    }
    .subtitulo-descripcion{
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .container-header {
        padding: 40px 30px;
    }
}

@media (max-width: 480px) {
    
  .container-header {
    height: auto;
    padding: 30px 20px;
  }

  .logoK {
    display: none;
  }

  .logos {
    justify-content: center;
    margin-top: 10px;
  }

  .logoblanco {
    height: 70px;
  }

  .subtitulo-descripcion {
    font-size: 15px;
    text-align: center;
  }

  .menu-header {
    position: absolute;
    top: 15px;
    right: 15px;
  }

}
