.contenido{
    box-sizing: border-box; 
    margin: 10px 130px; 
   
}

.seccion{
    padding: 80px 20px 0 20px;
}

.fondo-titulo{
    display: block;
    width: 170px;
    margin: 0 auto;
    background: linear-gradient(45deg, var(--color-primary), var(--color-tertiary)); /* Gradiente */
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

}
.titulo-seccion{
    font-size: 29px;
    color: white;
    text-transform: uppercase;
    font-family: var(--font-titulo);
    padding: 5px 10px;
    text-align: center;
    margin-bottom: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

.titulo{
    display: grid;
    justify-items: center;
    align-content: center;
}

.subtitulo{
    font-family: var(--font-titulo);
    text-align: center;
}

.titulo-secundario{
    font-family: var(--font-subtitlo);
    text-transform: uppercase;
    color: var(--color-tertiary);
    font-weight: 800;
    font-size: 24px;
    text-align: center;
}



@media (max-width: 1024px) {
    .contenido {
        margin: 10px 50px; 
    }

    .seccion {
        padding: 60px 15px; 
    }

    .fondo-titulo {
        width: 170px;
    }

    .titulo-seccion {
        font-size: 28px; 
    }

    .subtitulo {
        font-size: 16px; /* Reducir tamaño del subtítulo */
        text-align: center;
        width: 80%; /* Asegura que el subtítulo no ocupe demasiado espacio */
        margin: 0 auto; /* Centrar el subtítulo */
    }
}

@media (max-width: 768px) {
    .contenido {
        margin: 10px 20px;
    }

    .seccion {
        padding: 50px 10px;
    }

    .fondo-titulo {
        width: 170px; 
    }

    .titulo-seccion {
        font-size: 18px;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15); 
        font-weight: 500;
    }

    .subtitulo {
        font-size: 14px;
        margin-top: 10px; 
    }
}

@media (max-width: 480px) {
    .contenido {
        margin: 10px 10px; 
    }

    .seccion {
        padding: 40px 10px; 
    }

    .fondo-titulo {
        width: 175px; 
    }

    .titulo-seccion {
        font-size: 20px; 
        text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1); 
    }

    .subtitulo {
        font-size: 14px; 
        margin-top: 10px;
    }

    .titulo-secundario{
        font-size: 20px;
    }

     .container {
    max-width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    overflow-x: hidden;
  }

}